{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<p>Hey</p>

<div id="map" style="width: 1280px; height: 600px"></div>
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/secrets.js" type="text/javascript" charset="utf-8"></script>


<form>
  start <input type="text" id="start">
  end <input type="text" id="end">
  <input type="submit" id="address-submit">
  <button id="station">Get Charging Stations</button>
</form>

<script>
  const here = new HereMap(HERE_APP_ID, HERE_APP_CODE, document.getElementById("map"));
    const start = async () => {
      
        document.getElementById("address-submit").addEventListener("click", async (evt) => {
          evt.preventDefault();
          const points = getUserAddress();
          
          const start = await here.geocode(points[0]);
          const end = await here.geocode(points[1]);
          console.log(start.Latitude)
          // $.post("/charging",{"latitude":end.Latitude,
          //                     "longitude":end.Longitude
          //                     }
          // )
          here.dropMarker(start.Latitude, start.Longitude);
          here.dropMarker(end.Latitude, end.Longitude);
          here.drawRoute(start, end);

    }) 
    }
    start();

    document.getElementById("station").addEventListener("click", async (evt)=> {
      evt.preventDefault();
      const points = getUserAddress();
      console.log(points)
      const start = await here.geocode(points[0]);
      const end = await here.geocode(points[1]);
      console.log(end.Latitude)
      $.get("/charging", {"latitude":end.Latitude,
                              "longitude":end.Longitude
                              }, (data)=>{
        console.log(typeof data)

        
        for (let k in data ) {
          console.log(k)
          console.log("i am the value" + data[k])
          here.dropMarker(k, data[k])
        }
       
      })
    }
    )
</script>
{% endblock %}